@import 'normalize.css';
@import 'fonts.css';
@import 'header.css';
@import 'button.css';
@import 'footer.css';
@import 'responsive.css';

body {
  position: relative;
  font-family: 'Saucer BB';
  background-image: url("../img/comic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.body {
  display: flex;
  justify-content: center;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  z-index: -1;
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  margin: 0 10px;
}

.comics {
  -webkit-box-shadow: 0px 0px 31px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px 6px rgba(0,0,0,0.75);
  padding: 5px;
  background-color: #fff;
  min-height: 400px;
}

.comic-title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-top: 20px;
}

.comic-title span{
  border: 2px solid #000;
  padding: 5px;
  background-color: #ffffff;
}

#text-transcript {
  padding: 8px;
  background-color: #ffffff;
}

.comics img {
  width: 100%;
  height: auto;
}
